<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ip" value="192.168.1.198"/>
    <add key="DataBase" value="db208"/>
    <add key="User" value="wb"/>
    <add key="PassWord" value="apple"/>
    <add key="firstIn" value="0"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
